*.[oa]
*.mxo
*.mxe
*.class
*.objinfo.txt
*.tar.gz
*.zip
*.def
#*#
xcuserdata
.DS_Store
build
build-gcc
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
!xcshareddata