<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build all Max Deprecated copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>Build all Max Deprecated.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Build all Max Unstable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Build all Max.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Build all PD Deprecated copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>Build all PD Deprecated.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Build all PD Unstable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Build all PD copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>Build all PD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Build all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Current Version.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>o.O.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>o.append.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>o.append.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>o.atomize.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>o.atomize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>o.bundle.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>o.change.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>o.change.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>o.collect.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>o.collect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>o.compose.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>o.compose.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>o.cond.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>o.cond.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>o.context.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>o.context.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>o.dict.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>o.difference.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>o.difference.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>o.display.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>o.display.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>o.downcast.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>o.downcast.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>o.edge~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>o.explode.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>o.explode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>o.expr.codebox.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>o.expr.codebox.set.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>o.expr.codebox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>o.expr.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>o.expr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>o.flatten.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>o.flatten.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>o.gui.attach.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>o.if.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>o.if.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>o.intersection.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>o.intersection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>o.io.bluetoothle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>o.io.leap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>o.iterate.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>o.iterate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>o.listenumerate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>o.mappatch.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>o.mappatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>o.menu.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>o.message.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>o.message.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>o.messageiterate.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>o.messageiterate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>o.pack.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>o.pack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>o.pak.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>o.pak.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>o.prepend.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>o.prepend.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>o.print.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>o.print.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>o.printbytes.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>o.printbytes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>o.queue.fifo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>o.random.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>o.route.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>o.route.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>o.schedule.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>o.schedule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>o.schedule~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>o.select.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>o.select.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>o.slip.decode.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>o.slip.decode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>o.slip.encode.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>o.slip.encode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>o.snapshot~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>o.svg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>o.table.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>o.table.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>o.timetag.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>o.timetag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>o.timetag~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>o.udp.receive.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>o.udp.send.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>o.uniform.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>o.union.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>o.union.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>o.unless.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>o.unless.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>o.validate.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>o.validate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>o.var.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
		<key>o.var.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>o.when.pd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>o.when.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>112AC85719394255003244E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>115D7402198FD23F00F42B88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11893E531986F436008303DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1191799E19C25F4700F76066</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA028191D5814001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA033191D58CA001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA03E191D58FF001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA049191D5A2A001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA053191D5A53001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA05D191D5A67001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA06A191D5D2B001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA074191D5D3A001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA07E191D5D43001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA088191D5D52001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA092191D5D5B001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0A1191D5E91001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0AB191D5E9D001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0B5191D5EC6001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0BF191D5EF5001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0C9191D5F05001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0D3191D5F0F001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0E3191D5FFB001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0ED191D6002001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0F7191D6009001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA101191D6010001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA10B191D6027001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA115191D602E001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA11F191D6032001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA129191D6040001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA133191D6052001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11A20DA919F0B428002A98B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11A5D9CA19571A8300333C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11A5D9D319571AC400333C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11A5D9DE19574A1B00333C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11EF2AC618AFEBB900156403</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11F20C3E19A260B300BA2487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11F20C4D19A5647200BA2487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11F20C5A19A57AC400BA2487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11F7B52B194C48EF0090045B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11FC8B02194C417F00635118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>520A44A41824777800CB610F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>520C0E19158468F7005F2955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5214995C191D4C0100642F55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5214996C191D563700642F55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5217D8FB158EEBC4005B5238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52183D5E19218CCB00F61786</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52183DE019218CF200F61786</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5223ADCD1923EB5700C8FBB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5224C9FB1958BFDF00E37AED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525523C91504CB9E00A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525523E01504D0B200A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525523EF1504D14200A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525523FE1504D14400A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5255240D1504D14600A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5255241C1504D14B00A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5255242B1504D14F00A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5255243A1504D15000A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524491504D15200A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524581504D15400A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524671504D15600A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524761504D15700A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524851504D15900A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524941504D15B00A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524A31504D15D00A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524B21504D15F00A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524C11504D16100A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524D01504D16200A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524DF1504D16400A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524EE1504D16600A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>527294B817EDE93B00AA15E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>528026DD19E028C30037FD4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>529318D31FD072D300089B00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>529781521555B6FD0018A44D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52A8393B16E978D7002E273C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52A8395916EFFBC9002E273C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52A8396E16F3F898002E273C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52AA36F4194B7D21009A1920</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52AA37091954D1AD009A1920</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B53CDC17480C8100237A19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B53CEE1748287A00237A19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B53D0017484E5500237A19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B53D12174FD0B300237A19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B654BF17CD5F94004FD84E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B654F017D159B9004FD84E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B6550317D68D7C004FD84E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52C839D1167A5B24000AA688</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52CA33CD19719C41008C36B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52CA34311971AB7D008C36B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52CA3446197C68BA008C36B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52CA3490197C6A79008C36B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52F0C47817B581CC009FBD24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B3930C4195A286D002EDAE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B3930D4195A2898002EDAE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B3930E4195A28B3002EDAE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B67861D194BAE98007894BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB5E9D11952570000932005</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4E73DAC0E1888E9001E52BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEACE30CEF01BF00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
