<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0x0001</key>
	<dict>
		<key>0x0000</key>
		<string>UndefinedUsage</string>
		<key>0x0001</key>
		<string>Pointer</string>
		<key>0x0002</key>
		<string>Mouse</string>
		<key>0x0004</key>
		<string>Joystick</string>
		<key>0x0005</key>
		<string>GamePad</string>
		<key>0x0006</key>
		<string>Keyboard</string>
		<key>0x0007</key>
		<string>Keypad</string>
		<key>0x0008</key>
		<string>MultiAxisController</string>
		<key>0x0030</key>
		<string>X</string>
		<key>0x0031</key>
		<string>Y</string>
		<key>0x0032</key>
		<string>Z</string>
		<key>0x0033</key>
		<string>Rx</string>
		<key>0x0034</key>
		<string>Ry</string>
		<key>0x0035</key>
		<string>Rz</string>
		<key>0x0036</key>
		<string>Slider</string>
		<key>0x0037</key>
		<string>Dial</string>
		<key>0x0038</key>
		<string>Wheel</string>
		<key>0x0039</key>
		<string>Hatswitch</string>
		<key>0x003A</key>
		<string>CountedBuffer</string>
		<key>0x003B</key>
		<string>ByteCount</string>
		<key>0x003C</key>
		<string>MotionWakeup</string>
		<key>0x003D</key>
		<string>Start</string>
		<key>0x003E</key>
		<string>Select</string>
		<key>0x0040</key>
		<string>Vx</string>
		<key>0x0041</key>
		<string>Vy</string>
		<key>0x0042</key>
		<string>Vz</string>
		<key>0x0043</key>
		<string>Vbrx</string>
		<key>0x0044</key>
		<string>Vbry</string>
		<key>0x0045</key>
		<string>Vbrz</string>
		<key>0x0046</key>
		<string>Vno</string>
		<key>0x0080</key>
		<string>SystemControl</string>
		<key>0x0081</key>
		<string>SystemPowerDown</string>
		<key>0x0082</key>
		<string>SystemSleep</string>
		<key>0x0083</key>
		<string>SystemWakeUp</string>
		<key>0x0084</key>
		<string>SystemContextMenu</string>
		<key>0x0085</key>
		<string>SystemMainMenu</string>
		<key>0x0086</key>
		<string>SystemAppMenu</string>
		<key>0x0087</key>
		<string>SystemMenuhelp</string>
		<key>0x0088</key>
		<string>SystemMenuExit</string>
		<key>0x0089</key>
		<string>SystemMenu</string>
		<key>0x008A</key>
		<string>SystemMenuRight</string>
		<key>0x008B</key>
		<string>SystemMenuLeft</string>
		<key>0x008C</key>
		<string>SystemMenuUp</string>
		<key>0x008D</key>
		<string>SystemMenuDown</string>
		<key>0x0090</key>
		<string>DPadUp</string>
		<key>0x0091</key>
		<string>DPadDown</string>
		<key>0x0092</key>
		<string>DPadRight</string>
		<key>0x0093</key>
		<string>DPadLeft</string>
		<key>Name</key>
		<string>GenericDesktop</string>
	</dict>
	<key>0x0002</key>
	<dict>
		<key>0x0000</key>
		<string>UndefinedUsage</string>
		<key>0x0001</key>
		<string>FlightSimulationDevice</string>
		<key>0x0002</key>
		<string>AutomobileSimulationDevice</string>
		<key>0x0003</key>
		<string>TankSimulationDevice</string>
		<key>0x0004</key>
		<string>SpaceshipSimulationDevice</string>
		<key>0x0005</key>
		<string>SubmarineSimulationDevice</string>
		<key>0x0006</key>
		<string>SailingSimulationDevice</string>
		<key>0x0007</key>
		<string>MotorcycleSimulationDevice</string>
		<key>0x0008</key>
		<string>SportsSimulationDevice</string>
		<key>0x0009</key>
		<string>AirplaneSimulationDevice</string>
		<key>0x000A</key>
		<string>HelicopterSimulationDevice</string>
		<key>0x000B</key>
		<string>MagicCarpetSimulationDevice</string>
		<key>0x000C</key>
		<string>BicycleSimulationDevice</string>
		<key>0x0020</key>
		<string>FlightControlStick</string>
		<key>0x0021</key>
		<string>FlightStick</string>
		<key>0x0022</key>
		<string>CyclicControl</string>
		<key>0x0023</key>
		<string>CyclicTrim</string>
		<key>0x0024</key>
		<string>FlightYoke</string>
		<key>0x0025</key>
		<string>TrackControl</string>
		<key>0x00B0</key>
		<string>Aileron</string>
		<key>0x00B1</key>
		<string>AileronTrim</string>
		<key>0x00B2</key>
		<string>AntiTorqueControl</string>
		<key>0x00B5</key>
		<string>CollectiveControl</string>
		<key>0x00B6</key>
		<string>DiveBrake</string>
		<key>0x00B7</key>
		<string>ElectronicCountermeasures</string>
		<key>0x00B8</key>
		<string>Elevator</string>
		<key>0x00B9</key>
		<string>ElevatorTrim</string>
		<key>0x00BA</key>
		<string>Rudder</string>
		<key>0x00BB</key>
		<string>Throttle</string>
		<key>0x00BC</key>
		<string>FlightCommunications</string>
		<key>0x00BD</key>
		<string>FlareRelease</string>
		<key>0x00BE</key>
		<string>LandingGear</string>
		<key>0x00BF</key>
		<string>ToeBrake</string>
		<key>0x00C0</key>
		<string>Trigger</string>
		<key>0x00C1</key>
		<string>WeaponsArm</string>
		<key>0x00C2</key>
		<string>Weapons</string>
		<key>0x00C3</key>
		<string>WingFlaps</string>
		<key>0x00C4</key>
		<string>Accelerator</string>
		<key>0x00C5</key>
		<string>Brake</string>
		<key>0x00C6</key>
		<string>Clutch</string>
		<key>0x00C7</key>
		<string>Shifter</string>
		<key>0x00C8</key>
		<string>Steering</string>
		<key>0x00C9</key>
		<string>TurretDirection</string>
		<key>0x00CA</key>
		<string>BarrelElevation</string>
		<key>0x00CB</key>
		<string>DivePlane</string>
		<key>0x00CC</key>
		<string>Ballast</string>
		<key>0x00CD</key>
		<string>BicycleCrank</string>
		<key>0x00CE</key>
		<string>HandleBars</string>
		<key>0x00CF</key>
		<string>FrontBrake</string>
		<key>0x00D0</key>
		<string>RearBrake</string>
		<key>Name</key>
		<string>Simulation</string>
	</dict>
	<key>0x0003</key>
	<dict>
		<key>0x0000</key>
		<string>UndefinedUsage</string>
		<key>0x0001</key>
		<string>Belt</string>
		<key>0x0002</key>
		<string>BodySuit</string>
		<key>0x0003</key>
		<string>Flexor</string>
		<key>0x0004</key>
		<string>Glove</string>
		<key>0x0005</key>
		<string>HeadTracker</string>
		<key>0x0006</key>
		<string>HeadMountedDisplay</string>
		<key>0x0007</key>
		<string>HandTracker</string>
		<key>0x0008</key>
		<string>Oculometer</string>
		<key>0x0009</key>
		<string>Vest</string>
		<key>0x000A</key>
		<string>AnimatronicDevice</string>
		<key>0x0020</key>
		<string>StereoEnable</string>
		<key>0x0021</key>
		<string>DisplayEnable</string>
		<key>Name</key>
		<string>VirtualReality</string>
	</dict>
	<key>0x0004</key>
	<dict>
		<key>0x0000</key>
		<string>UndefinedUsage</string>
		<key>0x0001</key>
		<string>BaseballBat</string>
		<key>0x0002</key>
		<string>GolfClub</string>
		<key>0x0003</key>
		<string>RowingMachine</string>
		<key>0x0004</key>
		<string>Treadmill</string>
		<key>0x0030</key>
		<string>Oar</string>
		<key>0x0031</key>
		<string>Slope</string>
		<key>0x0032</key>
		<string>Rate</string>
		<key>0x0033</key>
		<string>StickSpeed</string>
		<key>0x0034</key>
		<string>StickFaceAngle</string>
		<key>0x0035</key>
		<string>StickHeelOrToe</string>
		<key>0x0036</key>
		<string>StickFollowThrough</string>
		<key>0x0037</key>
		<string>StickTempo</string>
		<key>0x0038</key>
		<string>StickType</string>
		<key>0x0039</key>
		<string>StickHeight</string>
		<key>0x0050</key>
		<string>Putter</string>
		<key>0x0051</key>
		<string>1Iron</string>
		<key>0x0052</key>
		<string>2Iron</string>
		<key>0x0053</key>
		<string>3Iron</string>
		<key>0x0054</key>
		<string>4Iron</string>
		<key>0x0055</key>
		<string>5Iron</string>
		<key>0x0056</key>
		<string>6Iron</string>
		<key>0x0057</key>
		<string>7Iron</string>
		<key>0x0058</key>
		<string>8Iron</string>
		<key>0x0059</key>
		<string>9Iron</string>
		<key>0x005A</key>
		<string>10Iron</string>
		<key>0x005B</key>
		<string>11Iron</string>
		<key>0x005C</key>
		<string>SandWedge</string>
		<key>0x005D</key>
		<string>LoftWedge</string>
		<key>0x005E</key>
		<string>PowerWedge</string>
		<key>0x005F</key>
		<string>1Wood</string>
		<key>0x0060</key>
		<string>3Wood</string>
		<key>0x0061</key>
		<string>5Wood</string>
		<key>0x0062</key>
		<string>7Wood</string>
		<key>0x0063</key>
		<string>9Wood</string>
		<key>Name</key>
		<string>Sport</string>
	</dict>
	<key>0x0005</key>
	<dict>
		<key>0x0000</key>
		<string>UndefinedUsage</string>
		<key>0x0001</key>
		<string>3DGameController</string>
		<key>0x0002</key>
		<string>PinballDevice</string>
		<key>0x0003</key>
		<string>Gun</string>
		<key>0x0020</key>
		<string>PointofView</string>
		<key>0x0021</key>
		<string>TurnRightOrLeft</string>
		<key>0x0022</key>
		<string>PitchUpOrDown</string>
		<key>0x0023</key>
		<string>RollRightOrLeft</string>
		<key>0x0024</key>
		<string>MoveRightOrLeft</string>
		<key>0x0025</key>
		<string>MoveForwardOrBackward</string>
		<key>0x0026</key>
		<string>MoveUpOrDown</string>
		<key>0x0027</key>
		<string>LeanRightOrLeft</string>
		<key>0x0029</key>
		<string>HeightOfPOV</string>
		<key>0x002A</key>
		<string>Flipper</string>
		<key>0x002B</key>
		<string>SecondaryFlipper</string>
		<key>0x002C</key>
		<string>Bump</string>
		<key>0x002D</key>
		<string>NewGame</string>
		<key>0x002E</key>
		<string>ShootBall</string>
		<key>0x002F</key>
		<string>Player</string>
		<key>0x0030</key>
		<string>GunBolt</string>
		<key>0x0031</key>
		<string>GunClip</string>
		<key>0x0032</key>
		<string>Gun</string>
		<key>0x0033</key>
		<string>GunSingleShot</string>
		<key>0x0034</key>
		<string>GunBurst</string>
		<key>0x0035</key>
		<string>GunAutomatic</string>
		<key>0x0036</key>
		<string>GunSafety</string>
		<key>0x0037</key>
		<string>GamepadFireOrJump</string>
		<key>0x0039</key>
		<string>GamepadTrigger</string>
		<key>Name</key>
		<string>Game</string>
	</dict>
	<key>0x0007</key>
	<dict>
		<key>0x0000</key>
		<string>UndefinedUsage</string>
		<key>0x0001</key>
		<string>ErrorRollOver</string>
		<key>0x0002</key>
		<string>POSTFail</string>
		<key>0x0003</key>
		<string>ErrorUndefined</string>
		<key>0x0004</key>
		<string>A</string>
		<key>0x0005</key>
		<string>B</string>
		<key>0x0006</key>
		<string>C</string>
		<key>0x0007</key>
		<string>D</string>
		<key>0x0008</key>
		<string>E</string>
		<key>0x0009</key>
		<string>F</string>
		<key>0x000A</key>
		<string>G</string>
		<key>0x000B</key>
		<string>H</string>
		<key>0x000C</key>
		<string>I</string>
		<key>0x000D</key>
		<string>J</string>
		<key>0x000E</key>
		<string>K</string>
		<key>0x000F</key>
		<string>L</string>
		<key>0x0010</key>
		<string>M</string>
		<key>0x0011</key>
		<string>N</string>
		<key>0x0012</key>
		<string>O</string>
		<key>0x0013</key>
		<string>P</string>
		<key>0x0014</key>
		<string>Q</string>
		<key>0x0015</key>
		<string>R</string>
		<key>0x0016</key>
		<string>S</string>
		<key>0x0017</key>
		<string>T</string>
		<key>0x0018</key>
		<string>U</string>
		<key>0x0019</key>
		<string>V</string>
		<key>0x001A</key>
		<string>W</string>
		<key>0x001B</key>
		<string>X</string>
		<key>0x001C</key>
		<string>Y</string>
		<key>0x001D</key>
		<string>Z</string>
		<key>0x001E</key>
		<string>1</string>
		<key>0x001F</key>
		<string>2</string>
		<key>0x0020</key>
		<string>3</string>
		<key>0x0021</key>
		<string>4</string>
		<key>0x0022</key>
		<string>5</string>
		<key>0x0023</key>
		<string>6</string>
		<key>0x0024</key>
		<string>7</string>
		<key>0x0025</key>
		<string>8</string>
		<key>0x0026</key>
		<string>9</string>
		<key>0x0027</key>
		<string>0</string>
		<key>0x0028</key>
		<string>Return</string>
		<key>0x0029</key>
		<string>Escape</string>
		<key>0x002A</key>
		<string>Delete</string>
		<key>0x002B</key>
		<string>Tab</string>
		<key>0x002C</key>
		<string>Spacebar</string>
		<key>0x002D</key>
		<string>Dash</string>
		<key>0x002E</key>
		<string>Equal</string>
		<key>0x002F</key>
		<string>LeftSquareBracket</string>
		<key>0x0030</key>
		<string>RightSquareBracket</string>
		<key>0x0031</key>
		<string>Slash</string>
		<key>0x0032</key>
		<string>Non-US#</string>
		<key>0x0033</key>
		<string>Semi-Colan</string>
		<key>0x0034</key>
		<string>SingleQuote</string>
		<key>0x0035</key>
		<string>GraveAccent</string>
		<key>0x0036</key>
		<string>Comma</string>
		<key>0x0037</key>
		<string>Period</string>
		<key>0x0038</key>
		<string>Slash</string>
		<key>0x0039</key>
		<string>CapsLock</string>
		<key>0x003A</key>
		<string>F1</string>
		<key>0x003B</key>
		<string>F2</string>
		<key>0x003C</key>
		<string>F3</string>
		<key>0x003D</key>
		<string>F4</string>
		<key>0x003E</key>
		<string>F5</string>
		<key>0x003F</key>
		<string>F6</string>
		<key>0x0040</key>
		<string>F7</string>
		<key>0x0041</key>
		<string>F8</string>
		<key>0x0042</key>
		<string>F9</string>
		<key>0x0043</key>
		<string>F10</string>
		<key>0x0044</key>
		<string>F11</string>
		<key>0x0045</key>
		<string>F12</string>
		<key>0x0046</key>
		<string>PrintScreen</string>
		<key>0x0047</key>
		<string>ScrollLock</string>
		<key>0x0048</key>
		<string>Pause</string>
		<key>0x0049</key>
		<string>Insert</string>
		<key>0x004A</key>
		<string>Home</string>
		<key>0x004B</key>
		<string>PageUp</string>
		<key>0x004C</key>
		<string>DeleteForward</string>
		<key>0x004D</key>
		<string>End</string>
		<key>0x004E</key>
		<string>PageDown</string>
		<key>0x004F</key>
		<string>RightArrow</string>
		<key>0x0050</key>
		<string>LeftArrow</string>
		<key>0x0051</key>
		<string>DownArrow</string>
		<key>0x0052</key>
		<string>UpArrow</string>
		<key>0x0053</key>
		<string>KeypadNumLock</string>
		<key>0x0054</key>
		<string>KeypadSlash</string>
		<key>0x0055</key>
		<string>KeypadAsterisk</string>
		<key>0x0056</key>
		<string>KeypadDash</string>
		<key>0x0057</key>
		<string>KeypadPlus</string>
		<key>0x0058</key>
		<string>KeypadEnter</string>
		<key>0x0059</key>
		<string>Keypad1</string>
		<key>0x005A</key>
		<string>Keypad2</string>
		<key>0x005B</key>
		<string>Keypad3</string>
		<key>0x005C</key>
		<string>Keypad4</string>
		<key>0x005D</key>
		<string>Keypad5</string>
		<key>0x005E</key>
		<string>Keypad6</string>
		<key>0x005F</key>
		<string>Keypad7</string>
		<key>0x0060</key>
		<string>Keypad8</string>
		<key>0x0061</key>
		<string>Keypad9</string>
		<key>0x0062</key>
		<string>Keypad0</string>
		<key>0x0063</key>
		<string>KeypadPeriod</string>
		<key>0x0064</key>
		<string>Non-USBackslash</string>
		<key>0x0065</key>
		<string>Application</string>
		<key>0x0066</key>
		<string>Power</string>
		<key>0x0067</key>
		<string>KeypadEqual</string>
		<key>0x0068</key>
		<string>F13</string>
		<key>0x0069</key>
		<string>F14</string>
		<key>0x006A</key>
		<string>F15</string>
		<key>0x006B</key>
		<string>F16</string>
		<key>0x006C</key>
		<string>F17</string>
		<key>0x006D</key>
		<string>F18</string>
		<key>0x006E</key>
		<string>F19</string>
		<key>0x006F</key>
		<string>F20</string>
		<key>0x0070</key>
		<string>F21</string>
		<key>0x0071</key>
		<string>F22</string>
		<key>0x0072</key>
		<string>F23</string>
		<key>0x0073</key>
		<string>F24</string>
		<key>0x0074</key>
		<string>Execute</string>
		<key>0x0075</key>
		<string>Help</string>
		<key>0x0076</key>
		<string>Menu</string>
		<key>0x0077</key>
		<string>Select</string>
		<key>0x0078</key>
		<string>Stop</string>
		<key>0x0079</key>
		<string>Again</string>
		<key>0x007A</key>
		<string>Undo</string>
		<key>0x007B</key>
		<string>Cut</string>
		<key>0x007C</key>
		<string>Copy</string>
		<key>0x007D</key>
		<string>Paste</string>
		<key>0x007E</key>
		<string>Find</string>
		<key>0x007F</key>
		<string>Mute</string>
		<key>0x0080</key>
		<string>VolumeUp</string>
		<key>0x0081</key>
		<string>VolumeDown</string>
		<key>0x0082</key>
		<string>LockingCapsLock</string>
		<key>0x0083</key>
		<string>LockingNumLock</string>
		<key>0x0084</key>
		<string>LockingScrollLock</string>
		<key>0x0085</key>
		<string>KeypadComma</string>
		<key>0x0086</key>
		<string>KeypadEqualSignforAS-400</string>
		<key>0x0087</key>
		<string>International1</string>
		<key>0x0088</key>
		<string>International2</string>
		<key>0x0089</key>
		<string>International3</string>
		<key>0x008A</key>
		<string>International4</string>
		<key>0x008B</key>
		<string>International5</string>
		<key>0x008C</key>
		<string>International6</string>
		<key>0x008D</key>
		<string>International7</string>
		<key>0x008E</key>
		<string>International8</string>
		<key>0x008F</key>
		<string>International9</string>
		<key>0x0090</key>
		<string>LANG1</string>
		<key>0x0091</key>
		<string>LANG2</string>
		<key>0x0092</key>
		<string>LANG3</string>
		<key>0x0093</key>
		<string>LANG4</string>
		<key>0x0094</key>
		<string>LANG5</string>
		<key>0x0095</key>
		<string>LANG6</string>
		<key>0x0096</key>
		<string>LANG7</string>
		<key>0x0097</key>
		<string>LANG8</string>
		<key>0x0098</key>
		<string>LANG9</string>
		<key>0x0099</key>
		<string>AlternateErase</string>
		<key>0x009A</key>
		<string>SysReqorAttention</string>
		<key>0x009B</key>
		<string>Cancel</string>
		<key>0x009C</key>
		<string>Clear</string>
		<key>0x009D</key>
		<string>Prior</string>
		<key>0x009E</key>
		<string>Return</string>
		<key>0x009F</key>
		<string>Separator</string>
		<key>0x00A0</key>
		<string>Out</string>
		<key>0x00A1</key>
		<string>Oper</string>
		<key>0x00A2</key>
		<string>ClearorAgain</string>
		<key>0x00A3</key>
		<string>CrSelorProps</string>
		<key>0x00A4</key>
		<string>ExSel</string>
		<key>0x00E0</key>
		<string>LeftControl</string>
		<key>0x00E1</key>
		<string>LeftShift</string>
		<key>0x00E2</key>
		<string>LeftAlt</string>
		<key>0x00E3</key>
		<string>LeftGUI</string>
		<key>0x00E4</key>
		<string>RightControl</string>
		<key>0x00E5</key>
		<string>RightShift</string>
		<key>0x00E6</key>
		<string>RightAlt</string>
		<key>0x00E7</key>
		<string>RightGUI</string>
		<key>Name</key>
		<string>KeyboardorKeypad</string>
	</dict>
	<key>0x0008</key>
	<dict>
		<key>0x0000</key>
		<string>UndefinedUsage</string>
		<key>0x0001</key>
		<string>NumLock</string>
		<key>0x0002</key>
		<string>CapsLock</string>
		<key>0x0003</key>
		<string>ScrollLock</string>
		<key>0x0004</key>
		<string>Compose</string>
		<key>0x0005</key>
		<string>Kana</string>
		<key>0x0006</key>
		<string>Power</string>
		<key>0x0007</key>
		<string>Shift</string>
		<key>0x0008</key>
		<string>DoNotDisturb</string>
		<key>0x0009</key>
		<string>Mute</string>
		<key>0x000A</key>
		<string>ToneEnable</string>
		<key>0x000B</key>
		<string>HighCutFilter</string>
		<key>0x000C</key>
		<string>LowCutFilter</string>
		<key>0x000D</key>
		<string>EqualizerEnable</string>
		<key>0x000E</key>
		<string>SoundFieldOn</string>
		<key>0x000F</key>
		<string>SurroundOn</string>
		<key>0x0010</key>
		<string>Repeat</string>
		<key>0x0011</key>
		<string>Stereo</string>
		<key>0x0012</key>
		<string>SamplingRateDetect</string>
		<key>0x0013</key>
		<string>Spinning</string>
		<key>0x0014</key>
		<string>CAV</string>
		<key>0x0015</key>
		<string>CLV</string>
		<key>0x0016</key>
		<string>RecordingFormatDetect</string>
		<key>0x0017</key>
		<string>OffHook</string>
		<key>0x0018</key>
		<string>Ring</string>
		<key>0x0019</key>
		<string>MessageWaiting</string>
		<key>0x001A</key>
		<string>DataMode</string>
		<key>0x001B</key>
		<string>BatteryOperation</string>
		<key>0x001C</key>
		<string>BatteryOK</string>
		<key>0x001D</key>
		<string>BatteryLow</string>
		<key>0x001E</key>
		<string>Speaker</string>
		<key>0x001F</key>
		<string>Headset</string>
		<key>0x0020</key>
		<string>Hold</string>
		<key>0x0021</key>
		<string>Microphone</string>
		<key>0x0022</key>
		<string>Coverage</string>
		<key>0x0023</key>
		<string>NightMode</string>
		<key>0x0024</key>
		<string>SendCalls</string>
		<key>0x0025</key>
		<string>CallPickup</string>
		<key>0x0026</key>
		<string>Conference</string>
		<key>0x0027</key>
		<string>StandBy</string>
		<key>0x0028</key>
		<string>CameraOn</string>
		<key>0x0029</key>
		<string>CameraOff</string>
		<key>0x002A</key>
		<string>OnLine</string>
		<key>0x002B</key>
		<string>OffLine</string>
		<key>0x002C</key>
		<string>Busy</string>
		<key>0x002D</key>
		<string>Ready</string>
		<key>0x002E</key>
		<string>PaperOut</string>
		<key>0x002F</key>
		<string>PaperJam</string>
		<key>0x0030</key>
		<string>Remote</string>
		<key>0x0031</key>
		<string>Forward</string>
		<key>0x0032</key>
		<string>Reverse</string>
		<key>0x0033</key>
		<string>Stop</string>
		<key>0x0034</key>
		<string>Rewind</string>
		<key>0x0035</key>
		<string>FastForward</string>
		<key>0x0036</key>
		<string>Play</string>
		<key>0x0037</key>
		<string>Pause</string>
		<key>0x0038</key>
		<string>Record</string>
		<key>0x0039</key>
		<string>Error</string>
		<key>0x003A</key>
		<string>Usage</string>
		<key>0x003B</key>
		<string>UsageInUseIndicator</string>
		<key>0x003C</key>
		<string>UsageMultiModeindicator</string>
		<key>0x003D</key>
		<string>IndicatorOn</string>
		<key>0x003E</key>
		<string>IndicatorFlash</string>
		<key>0x003F</key>
		<string>IndicatorSlowBlink</string>
		<key>0x0040</key>
		<string>IndicatorFastBlink</string>
		<key>0x0041</key>
		<string>IndicatorOff</string>
		<key>0x0042</key>
		<string>FlashOnTime</string>
		<key>0x0043</key>
		<string>SlowBlinkOnTime</string>
		<key>0x0044</key>
		<string>SlowBlinkOffTime</string>
		<key>0x0045</key>
		<string>FastBlinkOnTime</string>
		<key>0x0046</key>
		<string>FastBlinkOffTime</string>
		<key>0x0047</key>
		<string>UsageIndicatorColor</string>
		<key>0x0048</key>
		<string>IndicatorRed</string>
		<key>0x0049</key>
		<string>IndicatorGreen</string>
		<key>0x004A</key>
		<string>IndicatorAmber</string>
		<key>0x004B</key>
		<string>GenericIndicator</string>
		<key>0x004C</key>
		<string>SystemSuspend</string>
		<key>0x004D</key>
		<string>ExternalPowerConnected</string>
		<key>Name</key>
		<string>LED</string>
	</dict>
	<key>0x0009</key>
	<dict>
		<key>Name</key>
		<string>Button</string>
	</dict>
	<key>0x000C</key>
	<dict>
		<key>0x0000</key>
		<string>UndefinedUsage</string>
		<key>0x0001</key>
		<string>ConsumerControl</string>
		<key>0x0002</key>
		<string>NumericKeyPad</string>
		<key>0x0003</key>
		<string>ProgrammableButtons</string>
		<key>0x0020</key>
		<string>Plus10</string>
		<key>0x0021</key>
		<string>Plus100</string>
		<key>0x0022</key>
		<string>AMOrPM</string>
		<key>0x0030</key>
		<string>Power</string>
		<key>0x0031</key>
		<string>Reset</string>
		<key>0x0032</key>
		<string>Sleep</string>
		<key>0x0033</key>
		<string>SleepAfter</string>
		<key>0x0034</key>
		<string>SleepMode</string>
		<key>0x0035</key>
		<string>Illumination</string>
		<key>0x0036</key>
		<string>FunctionButtons</string>
		<key>0x0040</key>
		<string>Menu</string>
		<key>0x0041</key>
		<string>MenuPick</string>
		<key>0x0042</key>
		<string>MenuUp</string>
		<key>0x0043</key>
		<string>MenuDown</string>
		<key>0x0044</key>
		<string>MenuLeft</string>
		<key>0x0045</key>
		<string>MenuRight</string>
		<key>0x0046</key>
		<string>MenuEscape</string>
		<key>0x0047</key>
		<string>MenuValueIncrease</string>
		<key>0x0048</key>
		<string>MenuValueDecrease</string>
		<key>0x0060</key>
		<string>DataOnScreen</string>
		<key>0x0061</key>
		<string>ClosedCaption</string>
		<key>0x0062</key>
		<string>ClosedCaptionSelect</string>
		<key>0x0063</key>
		<string>VCROrTV</string>
		<key>0x0064</key>
		<string>BroadcastMode</string>
		<key>0x0065</key>
		<string>Snapshot</string>
		<key>0x0066</key>
		<string>Still</string>
		<key>0x0080</key>
		<string>Selection</string>
		<key>0x0081</key>
		<string>Assign</string>
		<key>0x0082</key>
		<string>ModeStep</string>
		<key>0x0083</key>
		<string>RecallLast</string>
		<key>0x0084</key>
		<string>EnterChannel</string>
		<key>0x0085</key>
		<string>OrderMovie</string>
		<key>0x0086</key>
		<string>Channel</string>
		<key>0x0087</key>
		<string>MediaSelection</string>
		<key>0x0088</key>
		<string>MediaSelectComputer</string>
		<key>0x0089</key>
		<string>MediaSelectTV</string>
		<key>0x008A</key>
		<string>MediaSelectWWW</string>
		<key>0x008B</key>
		<string>MediaSelectDVD</string>
		<key>0x008E</key>
		<string>MediaSelectVideoPhone</string>
		<key>0x008F</key>
		<string>MediaSelectGames</string>
		<key>0x0090</key>
		<string>MediaSelectMessages</string>
		<key>0x0091</key>
		<string>MediaSelectCD</string>
		<key>0x0092</key>
		<string>MediaSelectVCR</string>
		<key>0x0093</key>
		<string>MediaSelectTuner</string>
		<key>0x0094</key>
		<string>Quit</string>
		<key>0x0095</key>
		<string>Help</string>
		<key>0x0096</key>
		<string>MediaSelectTape</string>
		<key>0x0097</key>
		<string>MediaSelectCable</string>
		<key>0x0098</key>
		<string>MediaSelectSatellite</string>
		<key>0x0099</key>
		<string>MediaSelectSecurity</string>
		<key>0x009A</key>
		<string>MediaSelectHome</string>
		<key>0x009B</key>
		<string>MediaSelectCall</string>
		<key>0x009C</key>
		<string>ChannelIncrement</string>
		<key>0x009D</key>
		<string>ChannelDecrement</string>
		<key>0x009E</key>
		<string>Media</string>
		<key>0x00A0</key>
		<string>VCRPlus</string>
		<key>0x00A1</key>
		<string>Once</string>
		<key>0x00A2</key>
		<string>Daily</string>
		<key>0x00A3</key>
		<string>Weekly</string>
		<key>0x00A4</key>
		<string>Monthly</string>
		<key>0x00B0</key>
		<string>Play</string>
		<key>0x00B1</key>
		<string>Pause</string>
		<key>0x00B2</key>
		<string>Record</string>
		<key>0x00B3</key>
		<string>FastForward</string>
		<key>0x00B4</key>
		<string>Rewind</string>
		<key>0x00B5</key>
		<string>ScanNextTrack</string>
		<key>0x00B6</key>
		<string>ScanPreviousTrack</string>
		<key>0x00B7</key>
		<string>Stop</string>
		<key>0x00B8</key>
		<string>Eject</string>
		<key>0x00B9</key>
		<string>RandomPlay</string>
		<key>0x00BA</key>
		<string>SelectDisc</string>
		<key>0x00BB</key>
		<string>EnterDisc</string>
		<key>0x00BC</key>
		<string>Repeat</string>
		<key>0x00BD</key>
		<string>Tracking</string>
		<key>0x00BE</key>
		<string>TrackNormal</string>
		<key>0x00BF</key>
		<string>SlowTracking</string>
		<key>0x00C0</key>
		<string>FrameForward</string>
		<key>0x00C1</key>
		<string>FrameBack</string>
		<key>0x00C2</key>
		<string>Mark</string>
		<key>0x00C3</key>
		<string>ClearMark</string>
		<key>0x00C4</key>
		<string>RepeatFromMark</string>
		<key>0x00C5</key>
		<string>ReturnToMark</string>
		<key>0x00C6</key>
		<string>SearchMarkForward</string>
		<key>0x00C7</key>
		<string>SearchMarkBackwards</string>
		<key>0x00C8</key>
		<string>CounterReset</string>
		<key>0x00C9</key>
		<string>ShowCounter</string>
		<key>0x00CA</key>
		<string>TrackingIncrement</string>
		<key>0x00CB</key>
		<string>TrackingDecrement</string>
		<key>0x00CC</key>
		<string>StopOrEject</string>
		<key>0x00CD</key>
		<string>PlayOrPause</string>
		<key>0x00CE</key>
		<string>PlayOrSkip</string>
		<key>0x00E0</key>
		<string>Volume</string>
		<key>0x00E1</key>
		<string>Balance</string>
		<key>0x00E2</key>
		<string>Mute</string>
		<key>0x00E3</key>
		<string>Bass</string>
		<key>0x00E4</key>
		<string>Treble</string>
		<key>0x00E5</key>
		<string>BassBoost</string>
		<key>0x00E6</key>
		<string>SurroundMode</string>
		<key>0x00E7</key>
		<string>Loudness</string>
		<key>0x00E8</key>
		<string>MPX</string>
		<key>0x00E9</key>
		<string>VolumeIncrement</string>
		<key>0x00EA</key>
		<string>VolumeDecrement</string>
		<key>0x00F0</key>
		<string>Speed</string>
		<key>0x00F1</key>
		<string>PlaybackSpeed</string>
		<key>0x00F2</key>
		<string>StandardPlay</string>
		<key>0x00F3</key>
		<string>LongPlay</string>
		<key>0x00F4</key>
		<string>ExtendedPlay</string>
		<key>0x00F5</key>
		<string>Slow</string>
		<key>0x0100</key>
		<string>FanEnable</string>
		<key>0x0101</key>
		<string>FanSpeed</string>
		<key>0x0102</key>
		<string>LightEnable</string>
		<key>0x0103</key>
		<string>LightIlluminationLevel</string>
		<key>0x0104</key>
		<string>ClimateControlEnable</string>
		<key>0x0105</key>
		<string>RoomTemperature</string>
		<key>0x0106</key>
		<string>SecurityEnable</string>
		<key>0x0107</key>
		<string>FireAlarm</string>
		<key>0x0108</key>
		<string>PoliceAlarm</string>
		<key>0x0150</key>
		<string>BalanceRight</string>
		<key>0x0151</key>
		<string>BalanceLeft</string>
		<key>0x0152</key>
		<string>BassIncrement</string>
		<key>0x0153</key>
		<string>BassDecrement</string>
		<key>0x0154</key>
		<string>TrebleIncrement</string>
		<key>0x0155</key>
		<string>TrebleDecrement</string>
		<key>0x0160</key>
		<string>SpeakerSystem</string>
		<key>0x0161</key>
		<string>ChannelLeft</string>
		<key>0x0162</key>
		<string>ChannelRight</string>
		<key>0x0164</key>
		<string>ChannelFront</string>
		<key>0x0165</key>
		<string>ChannelCenterFront</string>
		<key>0x0166</key>
		<string>ChannelSide</string>
		<key>0x0167</key>
		<string>ChannelSurround</string>
		<key>0x0168</key>
		<string>ChannelLowFrequencyEnhancement</string>
		<key>0x0169</key>
		<string>ChannelTop</string>
		<key>0x016A</key>
		<string>ChannelUnknown</string>
		<key>0x0170</key>
		<string>SubChannel</string>
		<key>0x0171</key>
		<string>SubChannelIncrement</string>
		<key>0x0172</key>
		<string>SubChannelDecrement</string>
		<key>0x0173</key>
		<string>AlternateAudioIncrement</string>
		<key>0x0174</key>
		<string>AlternateAudioDecrement</string>
		<key>0x0180</key>
		<string>ApplicationLaunchButtons</string>
		<key>0x0181</key>
		<string>ALLaunchButtonConfigurationTool</string>
		<key>0x0182</key>
		<string>ALProgrammableButtonConfiguration</string>
		<key>0x0183</key>
		<string>ALConsumerControlConfiguration</string>
		<key>0x0184</key>
		<string>ALWordProcessor</string>
		<key>0x0185</key>
		<string>ALTextEditor</string>
		<key>0x0186</key>
		<string>ALSpreadsheet</string>
		<key>0x0187</key>
		<string>ALGraphicsEditor</string>
		<key>0x0188</key>
		<string>ALPresentationApp</string>
		<key>0x0189</key>
		<string>ALDatabaseApp</string>
		<key>0x018A</key>
		<string>ALEmailReader</string>
		<key>0x018B</key>
		<string>ALNewsreader</string>
		<key>0x018C</key>
		<string>ALVoicemail</string>
		<key>0x018D</key>
		<string>ALContactsOrAddressBook</string>
		<key>0x018E</key>
		<string>ALCalendarOrSchedule</string>
		<key>0x018F</key>
		<string>ALTaskOrProjectManager</string>
		<key>0x0190</key>
		<string>ALLogOrJournalOrTimecard</string>
		<key>0x0191</key>
		<string>ALCheckbookOrFinance</string>
		<key>0x0192</key>
		<string>ALCalculator</string>
		<key>0x0193</key>
		<string>ALAOrVCaptureOrPlayback</string>
		<key>0x0194</key>
		<string>ALLocalMachineBrowser</string>
		<key>0x0195</key>
		<string>ALLANOrWANBrowser</string>
		<key>0x0196</key>
		<string>ALInternetBrowser</string>
		<key>0x0197</key>
		<string>ALRemoteNetworkingOrISPConnect</string>
		<key>0x0198</key>
		<string>ALNetworkConference</string>
		<key>0x0199</key>
		<string>ALNetworkChat</string>
		<key>0x019A</key>
		<string>ALTelephonyOrDialer</string>
		<key>0x019B</key>
		<string>ALLogon</string>
		<key>0x019C</key>
		<string>ALLogoff</string>
		<key>0x019D</key>
		<string>ALLogonOrLogoff</string>
		<key>0x019E</key>
		<string>ALTerminalLockOrScreensaver</string>
		<key>0x019F</key>
		<string>ALControlPanel</string>
		<key>0x01A0</key>
		<string>ALCommandLineProcessorOrRun</string>
		<key>0x01A1</key>
		<string>ALProcessOrTaskManager</string>
		<key>0x01A2</key>
		<string>AL</string>
		<key>0x01A3</key>
		<string>ALNextTaskOrApplication</string>
		<key>0x01A4</key>
		<string>ALPreviousTaskOrApplication</string>
		<key>0x01A5</key>
		<string>ALPreemptiveHaltTaskOrApplication</string>
		<key>0x0200</key>
		<string>GenericGUIApplicationControls</string>
		<key>0x0201</key>
		<string>ACNew</string>
		<key>0x0202</key>
		<string>ACOpen</string>
		<key>0x0203</key>
		<string>ACClose</string>
		<key>0x0204</key>
		<string>ACExit</string>
		<key>0x0205</key>
		<string>ACMaximize</string>
		<key>0x0206</key>
		<string>ACMinimize</string>
		<key>0x0207</key>
		<string>ACSave</string>
		<key>0x0208</key>
		<string>ACPrint</string>
		<key>0x0209</key>
		<string>ACProperties</string>
		<key>0x021A</key>
		<string>ACUndo</string>
		<key>0x021B</key>
		<string>ACCopy</string>
		<key>0x021C</key>
		<string>ACCut</string>
		<key>0x021D</key>
		<string>ACPaste</string>
		<key>0x021E</key>
		<string>AC</string>
		<key>0x021F</key>
		<string>ACFind</string>
		<key>0x0220</key>
		<string>ACFindandReplace</string>
		<key>0x0221</key>
		<string>ACSearch</string>
		<key>0x0222</key>
		<string>ACGoTo</string>
		<key>0x0223</key>
		<string>ACHome</string>
		<key>0x0224</key>
		<string>ACBack</string>
		<key>0x0225</key>
		<string>ACForward</string>
		<key>0x0226</key>
		<string>ACStop</string>
		<key>0x0227</key>
		<string>ACRefresh</string>
		<key>0x0228</key>
		<string>ACPreviousLink</string>
		<key>0x0229</key>
		<string>ACNextLink</string>
		<key>0x022A</key>
		<string>ACBookmarks</string>
		<key>0x022B</key>
		<string>ACHistory</string>
		<key>0x022C</key>
		<string>ACSubscriptions</string>
		<key>0x022D</key>
		<string>ACZoomIn</string>
		<key>0x022E</key>
		<string>ACZoomOut</string>
		<key>0x022F</key>
		<string>ACZoom</string>
		<key>0x0230</key>
		<string>ACFullScreenView</string>
		<key>0x0231</key>
		<string>ACNormalView</string>
		<key>0x0232</key>
		<string>ACViewToggle</string>
		<key>0x0233</key>
		<string>ACScrollUp</string>
		<key>0x0234</key>
		<string>ACScrollDown</string>
		<key>0x0235</key>
		<string>ACScroll</string>
		<key>0x0236</key>
		<string>ACPanLeft</string>
		<key>0x0237</key>
		<string>ACPanRight</string>
		<key>0x0238</key>
		<string>ACPan</string>
		<key>0x0239</key>
		<string>ACNewWindow</string>
		<key>0x023A</key>
		<string>ACTileHorizontally</string>
		<key>0x023B</key>
		<string>ACTileVertically</string>
		<key>0x023C</key>
		<string>ACFormat</string>
		<key>Name</key>
		<string>Consumer</string>
	</dict>
	<key>0x0084</key>
	<dict>
		<key>0x0000</key>
		<string>UndefinedUsage</string>
		<key>0x0001</key>
		<string>NameIndex</string>
		<key>0x0002</key>
		<string>PresentStatus</string>
		<key>0x0003</key>
		<string>ChangedStatus</string>
		<key>0x0004</key>
		<string>UninterruptiblePowerSupply</string>
		<key>0x0005</key>
		<string>PowerSupply</string>
		<key>0x0010</key>
		<string>BatterySystempowermodule</string>
		<key>0x0011</key>
		<string>BatterySystemID</string>
		<key>0x0012</key>
		<string>Battery</string>
		<key>0x0013</key>
		<string>BatteryID</string>
		<key>0x0014</key>
		<string>Charger</string>
		<key>0x0015</key>
		<string>ChargerID</string>
		<key>0x0016</key>
		<string>PowerConverterpowermodule</string>
		<key>0x0017</key>
		<string>PowerConverterID</string>
		<key>0x0018</key>
		<string>OutletSystempowermodule</string>
		<key>0x0019</key>
		<string>OutletSystemID</string>
		<key>0x001A</key>
		<string>Input</string>
		<key>0x001B</key>
		<string>InputID</string>
		<key>0x001C</key>
		<string>Output</string>
		<key>0x001D</key>
		<string>OutputID</string>
		<key>0x001E</key>
		<string>Flow</string>
		<key>0x001F</key>
		<string>FlowID</string>
		<key>0x0020</key>
		<string>Outlet</string>
		<key>0x0021</key>
		<string>OutletID</string>
		<key>0x0022</key>
		<string>Gang</string>
		<key>0x0023</key>
		<string>GangID</string>
		<key>0x0024</key>
		<string>PowerSummary</string>
		<key>0x0025</key>
		<string>PowerSummaryID</string>
		<key>0x0030</key>
		<string>Voltage</string>
		<key>0x0031</key>
		<string>Current</string>
		<key>0x0032</key>
		<string>Frequency</string>
		<key>0x0033</key>
		<string>ApparentPower</string>
		<key>0x0034</key>
		<string>RMSPower</string>
		<key>0x0035</key>
		<string>PercentLoad</string>
		<key>0x0036</key>
		<string>Temperature</string>
		<key>0x0037</key>
		<string>Humidity</string>
		<key>0x0038</key>
		<string>BadConditionCount</string>
		<key>0x0040</key>
		<string>NominalVoltage</string>
		<key>0x0041</key>
		<string>NominalCurrent</string>
		<key>0x0042</key>
		<string>NominalFrequency</string>
		<key>0x0043</key>
		<string>NominalApparentPower</string>
		<key>0x0044</key>
		<string>NominalRMSPower</string>
		<key>0x0045</key>
		<string>NominalPercentLoad</string>
		<key>0x0046</key>
		<string>NominalTemperature</string>
		<key>0x0047</key>
		<string>NominalHumidity</string>
		<key>0x0050</key>
		<string>SwitchOnControl</string>
		<key>0x0051</key>
		<string>SwitchOffControl</string>
		<key>0x0052</key>
		<string>ToogleSequenceControl</string>
		<key>0x0053</key>
		<string>MinTransferVoltage</string>
		<key>0x0054</key>
		<string>MaxTransferVoltage</string>
		<key>0x0055</key>
		<string>DelayBeforeReboot</string>
		<key>0x0056</key>
		<string>DelayBeforeStartup</string>
		<key>0x0057</key>
		<string>DelayBeforeShutdown</string>
		<key>0x0058</key>
		<string>TestRequest/Result</string>
		<key>0x0059</key>
		<string>ResetRequest/Result</string>
		<key>0x005A</key>
		<string>AudibleAlarmControl</string>
		<key>0x0060</key>
		<string>Present</string>
		<key>0x0061</key>
		<string>Good</string>
		<key>0x0062</key>
		<string>InternalFailure</string>
		<key>0x0063</key>
		<string>VoltageOutOfRange</string>
		<key>0x0064</key>
		<string>FrequencyOutOfRange</string>
		<key>0x0065</key>
		<string>Overload</string>
		<key>0x0066</key>
		<string>OverCharged</string>
		<key>0x0067</key>
		<string>OverTemperature</string>
		<key>0x0068</key>
		<string>ShutdownRequested</string>
		<key>0x0069</key>
		<string>ShutdownImminent</string>
		<key>0x006B</key>
		<string>On/OffSwitchStatus</string>
		<key>0x006C</key>
		<string>Switchable</string>
		<key>0x006D</key>
		<string>Used</string>
		<key>0x006E</key>
		<string>Boosted</string>
		<key>0x006F</key>
		<string>Bucked</string>
		<key>0x0070</key>
		<string>Initialized</string>
		<key>0x0071</key>
		<string>Tested</string>
		<key>0x0072</key>
		<string>AwaitingPower</string>
		<key>0x0073</key>
		<string>CommunicationLost</string>
		<key>0x00FD</key>
		<string>ManufacturerStringIndex</string>
		<key>0x00FE</key>
		<string>ProductStringIndex</string>
		<key>0x00FF</key>
		<string>SerialNumberStringIndex</string>
		<key>Name</key>
		<string>PowerDevicePage</string>
	</dict>
	<key>0x0085</key>
	<dict>
		<key>0x0000</key>
		<string>UndefinedUsage</string>
		<key>0x0001</key>
		<string>Mode</string>
		<key>0x0002</key>
		<string>Status</string>
		<key>0x0003</key>
		<string>AlarmWarning</string>
		<key>0x0004</key>
		<string>ChargerMode</string>
		<key>0x0005</key>
		<string>ChargerStatus</string>
		<key>0x0006</key>
		<string>ChargerExtendedStatus</string>
		<key>0x0007</key>
		<string>SelectorState</string>
		<key>0x0008</key>
		<string>SelectorPresets</string>
		<key>0x0009</key>
		<string>SelectorInfo</string>
		<key>0x0010</key>
		<string>MfgFunction1</string>
		<key>0x0011</key>
		<string>MfgFunction2</string>
		<key>0x0012</key>
		<string>MfgFunction3</string>
		<key>0x0013</key>
		<string>MfgFunction4</string>
		<key>0x0014</key>
		<string>MfgFunction5</string>
		<key>0x0015</key>
		<string>ConnectionToSystemManagementBus</string>
		<key>0x0016</key>
		<string>OutputConnectionStatus</string>
		<key>0x0017</key>
		<string>ChargerConnection</string>
		<key>0x0018</key>
		<string>BatteryInsertion</string>
		<key>0x0019</key>
		<string>UseNext</string>
		<key>0x001A</key>
		<string>OKToUse</string>
		<key>0x001B</key>
		<string>BatterySupported</string>
		<key>0x001C</key>
		<string>SelectorRevision</string>
		<key>0x001D</key>
		<string>ChargingIndicator</string>
		<key>0x0028</key>
		<string>ManufacturerAccess</string>
		<key>0x0029</key>
		<string>RemainingCapacityLimit</string>
		<key>0x002A</key>
		<string>RemainingTimeLimit</string>
		<key>0x002B</key>
		<string>AtRate...</string>
		<key>0x002C</key>
		<string>CapacityMode</string>
		<key>0x002D</key>
		<string>BroadcastToCharger</string>
		<key>0x002E</key>
		<string>PrimaryBattery</string>
		<key>0x002F</key>
		<string>ChargeController</string>
		<key>0x0040</key>
		<string>TerminateCharge</string>
		<key>0x0041</key>
		<string>TerminateDischarge</string>
		<key>0x0042</key>
		<string>BelowRemainingCapacityLimit</string>
		<key>0x0043</key>
		<string>RemainingTimeLimitExpired</string>
		<key>0x0044</key>
		<string>Charging</string>
		<key>0x0045</key>
		<string>Discharging</string>
		<key>0x0046</key>
		<string>FullyCharged</string>
		<key>0x0047</key>
		<string>FullyDischarged</string>
		<key>0x0048</key>
		<string>ConditioningFlag</string>
		<key>0x0049</key>
		<string>AtRateOK</string>
		<key>0x004A</key>
		<string>SMBErrorCode</string>
		<key>0x004B</key>
		<string>NeedReplacement</string>
		<key>0x0060</key>
		<string>AtRateTimeToFull</string>
		<key>0x0061</key>
		<string>AtRateTimeToEmpty</string>
		<key>0x0062</key>
		<string>AverageCurrent</string>
		<key>0x0063</key>
		<string>MaxError</string>
		<key>0x0065</key>
		<string>AbsoluteStateOfCharge</string>
		<key>0x0066</key>
		<string>RemainingCapacity</string>
		<key>0x0067</key>
		<string>FullChargeCapacity</string>
		<key>0x0068</key>
		<string>RunTimeToEmpty</string>
		<key>0x0069</key>
		<string>AverageTimeToEmpty</string>
		<key>0x006A</key>
		<string>AverageTimeToFull</string>
		<key>0x006B</key>
		<string>CycleCount</string>
		<key>0x0080</key>
		<string>BattPackModelLevel</string>
		<key>0x0081</key>
		<string>InternalChargeController</string>
		<key>0x0082</key>
		<string>PrimaryBatterySupport</string>
		<key>0x0083</key>
		<string>DesignCapacity</string>
		<key>0x0084</key>
		<string>SpecificationInfo</string>
		<key>0x0085</key>
		<string>ManufacturerDate</string>
		<key>0x0086</key>
		<string>SerialNumber</string>
		<key>0x0087</key>
		<string>ManufacturerNameIndex</string>
		<key>0x0088</key>
		<string>DeviceNameIndex</string>
		<key>0x0089</key>
		<string>DeviceChemistryIndex</string>
		<key>0x008A</key>
		<string>ManufacturerData</string>
		<key>0x008B</key>
		<string>Rechargable</string>
		<key>0x008C</key>
		<string>WarningCapacityLimit</string>
		<key>0x008D</key>
		<string>CapacityGranularity1</string>
		<key>0x008E</key>
		<string>CapacityGranularity2</string>
		<key>0x008F</key>
		<string>OEMInformationIndex</string>
		<key>0x00C0</key>
		<string>InhibitCharge</string>
		<key>0x00C1</key>
		<string>EnablePolling</string>
		<key>0x00C2</key>
		<string>ResetToZero</string>
		<key>0x00D0</key>
		<string>ACPresent</string>
		<key>0x00D1</key>
		<string>BatteryPresent</string>
		<key>0x00D2</key>
		<string>PowerFail</string>
		<key>0x00D3</key>
		<string>AlarmInhibited</string>
		<key>0x00D4</key>
		<string>ThermistorUnderRange</string>
		<key>0x00D5</key>
		<string>ThermistorHot</string>
		<key>0x00D6</key>
		<string>ThermistorCold</string>
		<key>0x00D7</key>
		<string>ThermistorOverRange</string>
		<key>0x00D8</key>
		<string>VoltageOutOfRange</string>
		<key>0x00D9</key>
		<string>CurrentOutOfRange</string>
		<key>0x00DA</key>
		<string>CurrentNotRegulated</string>
		<key>0x00DB</key>
		<string>VoltageNotRegulated</string>
		<key>0x00DC</key>
		<string>MasterMode</string>
		<key>0x00F0</key>
		<string>ChargerSupportSelector</string>
		<key>0x00F1</key>
		<string>ChargerSpecification</string>
		<key>0x00F2</key>
		<string>ChargerLevel2</string>
		<key>0x00F3</key>
		<string>ChargerLevel3</string>
		<key>Name</key>
		<string>BatterySystemPage</string>
	</dict>
	<key>0xFF00</key>
	<dict>
		<key>Name</key>
		<string>Vendor</string>
	</dict>
</dict>
</plist>
