<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>5303</key>
	<dict>
		<key>2434</key>
		<dict>
			<key>15</key>
			<string>/left/x</string>
			<key>16</key>
			<string>/left/y</string>
			<key>17</key>
			<string>/left/length</string>
			<key>18</key>
			<string>/right/x</string>
			<key>19</key>
			<string>/right/y</string>
			<key>20</key>
			<string>/right/length</string>
			<key>3</key>
			<string>/footswitch</string>
		</dict>
	</dict>
	<key>1523</key>
	<dict>
		<key>/stick</key>
		<string>625</string>
		<key>625</key>
		<dict>
			<key>5</key>
			<string>/button/0</string>
			<key>13</key>
			<string>/button/1</string>
			<key>21</key>
			<string>/button/2</string>
			<key>29</key>
			<string>/button/3</string>
			<key>6</key>
			<string>/button/4</string>
			<key>14</key>
			<string>/button/5</string>
			<key>22</key>
			<string>/button/6</string>
			<key>30</key>
			<string>/button/7</string>
			<key>7</key>
			<string>/button/8</string>
			<key>15</key>
			<string>/button/9</string>
			<key>23</key>
			<string>/button/10</string>
			<key>31</key>
			<string>/button/11</string>
			<key>8</key>
			<string>/button/12</string>
			<key>16</key>
			<string>/button/13</string>
			<key>24</key>
			<string>/button/14</string>
			<key>32</key>
			<string>/button/15</string>
			<key>77</key>
			<string>/uidbit/1</string>
			<key>78</key>
			<string>/uidbit/2</string>
			<key>70</key>
			<string>/uidbit/3</string>
			<key>80</key>
			<string>/uidbit/4</string>
			<key>81</key>
			<string>/uidbit/5</string>
			<key>82</key>
			<string>/uidbit/6</string>
			<key>83</key>
			<string>/uidbit/7</string>
			<key>84</key>
			<string>/uidbit/8</string>
			<key>89</key>
			<string>/program-switch-position</string>
			<key>/LEDorUID</key>
			<string>93</string>
			<key>/LED/0</key>
			<string>125</string>
			<key>/LED/1</key>
			<string>126</string>
			<key>/LED/2</key>
			<string>127</string>
			<key>/LED/3</key>
			<string>128</string>
			<key>/LED/4</key>
			<string>129</string>
			<key>/LED/5</key>
			<string>130</string>
			<key>/LED/6</key>
			<string>131</string>
			<key>/LED/7</key>
			<string>132</string>
			<key>/LED/8</key>
			<string>133</string>
			<key>/LED/9</key>
			<string>134</string>
			<key>/LED/10</key>
			<string>135</string>
			<key>/LED/11</key>
			<string>136</string>
			<key>/LED/12</key>
			<string>137</string>
			<key>/LED/13</key>
			<string>138</string>
			<key>/LED/14</key>
			<string>139</string>
			<key>/LED/15</key>
			<string>140</string>
			<key>/UIDbit/1</key>
			<string>141</string>
			<key>/UIDbit/2</key>
			<string>142</string>
			<key>/UIDbit/3</key>
			<string>143</string>
			<key>/UIDbit/4</key>
			<string>144</string>
			<key>/UIDbit/5</key>
			<string>145</string>
			<key>/UIDbit/6</key>
			<string>146</string>
			<key>/UIDbit/7</key>
			<string>147</string>
			<key>/UIDbit/8</key>
			<string>148</string>
			<key>/write-to-UID</key>
			<string>153</string>
			<key>/write-to-backlighting</key>
			<string>154</string>
			<key>/LED/green</key>
			<string>155</string>
			<key>/LED/red</key>
			<string>156</string>
			<key>name</key>
			<string>/stick</string>
		</dict>
	</dict>
</dict>
</plist>
