<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>o.atomize copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>o.atomize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>o.change.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>o.collect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>o.cond.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>o.difference.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>o.expr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>o.if.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>o.intersection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>o.mappatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>o.message.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>o.pack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>o.pak.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>o.prepend.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>o.print.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>o.printbytes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>o.route.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>o.select.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>o.union.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>o.unless.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>o.var.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>o.when.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>525523C91504CB9E00A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525523E01504D0B200A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525523EF1504D14200A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525523FE1504D14400A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5255240D1504D14600A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5255241C1504D14B00A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5255242B1504D14F00A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5255243A1504D15000A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524491504D15200A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524581504D15400A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524671504D15600A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524761504D15700A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524851504D15900A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524941504D15B00A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524A31504D15D00A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524B21504D15F00A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524C11504D16100A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524D01504D16200A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524DF1504D16400A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524EE1504D16600A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>529781521555B6FD0018A44D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4584BE910100D4100DA7DA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B460571110E9995C002B2AD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4A3B9561016E16500C56B11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4C3B0C010EB828F005A82E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4E73DAC0E1888E9001E52BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4EE2EBF0D780844001E050C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAB040CEE97BE00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAB0D0CEE97E400C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEACE30CEF01BF00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEACF60CEF020C00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAD050CEF021200C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAD140CEF021600C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAD230CEF021900C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAD380CEF02C000C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAD540CEF05ED00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAD650CEF06B400C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAD760CEF06D700C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAD870CEF06F700C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAD9A0CEF088800C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEADA60CEF089800C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEADB60CEF08E800C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEADC40CEF091F00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEADD20CEF095000C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEADE00CEF09D100C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEADEE0CEF0A0A00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEADFC0CEF0A3200C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAE0C0CEF0AD100C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAE1A0CEF0AF700C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAE280CEF0B7000C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAE440CEF0BBB00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAE520CEF0BFA00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAE600CEF0C1F00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAE6E0CEF0C4500C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAE7E0CEF0CEA00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAE8C0CEF0D0100C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAF0B0CEF128D00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAF1B0CEF132200C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAF290CEF134B00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEAF370CEF136900C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
