<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>112AC85719394255003244E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA028191D5814001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA033191D58CA001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA03E191D58FF001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA049191D5A2A001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA053191D5A53001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA05D191D5A67001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA06A191D5D2B001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA074191D5D3A001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA07E191D5D43001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA088191D5D52001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA092191D5D5B001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0A1191D5E91001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0AB191D5E9D001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0B5191D5EC6001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0BF191D5EF5001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0C9191D5F05001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0D3191D5F0F001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0E3191D5FFB001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0ED191D6002001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA0F7191D6009001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA101191D6010001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA10B191D6027001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA115191D602E001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA11F191D6032001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA129191D6040001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119FA133191D6052001C3325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11A5D9CA19571A8300333C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11A5D9D319571AC400333C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11A5D9DE19574A1B00333C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11EF2AC618AFEBB900156403</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11F7B52B194C48EF0090045B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11FC8B02194C417F00635118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>520A44A41824777800CB610F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>520C0E19158468F7005F2955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5214995C191D4C0100642F55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5214996C191D563700642F55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5217D8FB158EEBC4005B5238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52183D5E19218CCB00F61786</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52183DE019218CF200F61786</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5223ADCD1923EB5700C8FBB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5224C9FB1958BFDF00E37AED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525523C91504CB9E00A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525523E01504D0B200A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525523EF1504D14200A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525523FE1504D14400A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5255240D1504D14600A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5255241C1504D14B00A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5255242B1504D14F00A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5255243A1504D15000A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524491504D15200A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524581504D15400A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524671504D15600A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524761504D15700A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524851504D15900A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524941504D15B00A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524A31504D15D00A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524B21504D15F00A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524C11504D16100A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524D01504D16200A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524DF1504D16400A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525524EE1504D16600A10E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>527294B817EDE93B00AA15E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>529781521555B6FD0018A44D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52A8393B16E978D7002E273C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52A8395916EFFBC9002E273C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52A8396E16F3F898002E273C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52AA36F4194B7D21009A1920</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52AA37091954D1AD009A1920</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B53CDC17480C8100237A19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B53CEE1748287A00237A19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B53D0017484E5500237A19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B53D12174FD0B300237A19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B654BF17CD5F94004FD84E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B654F017D159B9004FD84E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B6550317D68D7C004FD84E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52C839D1167A5B24000AA688</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52F0C47817B581CC009FBD24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B3930C4195A286D002EDAE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B3930D4195A2898002EDAE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B3930E4195A28B3002EDAE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B67861D194BAE98007894BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB5E9D11952570000932005</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4E73DAC0E1888E9001E52BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEACE30CEF01BF00C2A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
